body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
.login{  
        width: 320px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 60px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
h1{
    text-align: center;
    color: rgb(18, 47, 100);
    padding: 30px;
}
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
label{  
    color: #24b197;  
    font-size: 17px;  
}  
#checkbox label{
    color: black;  
    font-size: 17px; 
}
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  


#myform{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    width: 150px;
    vertical-align: top;
    text-align: center;
}